body {
  background-color: antiquewhite;
}
* {
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-container {
  display: flex;
  flex-direction: row;
  margin-block: 10px;
  align-items: center;
  gap: 20px;
}

.color-container > .color {
  width: 60px;
  height: 200px;
}

.color-container > .color:hover {
  cursor: pointer;
}